body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("./images/books.jpg");
  background-size: cover;
}

button {
  font-size: 7px;
  background: none;
}

#main-content {
  width: 90%;
  max-width: 400px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

#task-list {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0);
}
.high { color: red; }
.medium { color: orange; }
.low { color: green; }

.sort-btn {
    margin-left: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}
#progress-container {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}
#progress-bar-container {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden; 
}

#progress-bar {
  width: 0%;
  height: 100%;
  background: green;
  transition: width 0.5s ease-in-out;
}